body {
    background:url(hiujk.gif);
    position: fixed;
  }
h1{
  color:yellow;
  text-align: center;
  text-shadow: 5px 5px #FF0000;
  font-size: 1000%;
  position: absolute;
  right: -961px;
}

div{
  width:92px;height:74px;border:0;left:-151px;top:-200px;
}
