body {
    background-image:url('p1-interfacepoetry/hiujk.gif');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%;
}
h1{
  color:yellow;
  text-align: center;
  font-size: 150px;
}
