
        h1{ text-align:center; }

        #container{color:#0000FF;}

        h1:first-line{color:#ff0000;font-size:xx-large;}

        p:first-letter{font-size:xx-large;}


        h1+div{font-family:Arial, Helvetica, sans-serif; }
